* {
  text-decoration: none;
  color: inherit;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.logo {
  width: 50px;
  margin-bottom: 40px;
}
.user-input {
  width: 450px;
  height: 56px;
  margin-bottom: 15px;
  padding: 0 30px;
  border: 1px solid #d7d7d7;
  border-radius: 4px;

  &::placeholder {
    color: #b7b7b7;
    font-size: 16px;
  }
}

.login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
}

input:focus {
  outline: none;
}

.btn {
  width: 450px;
  height: 48px;
  border: none;
  border-radius: 50px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}

.find-pw-body {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 15px;
  color: rgba(51, 51, 51, 0.6);
}

.find-pw {
  margin-right: 15px;
}

.join-user {
  margin-left: 15px;
}
