@import './../../styles/common';
@import './../../styles/mixin';

.product-detail {
  @include flex(row, center, center);

  .product-demonstration {
    @include flex(column, flex-start, center);
    width: 45vw;
    padding: 20px;

    .product-image {
      @include flex(row, center, center);
      width: 100%;
      margin: 20px;

      img {
        width: 50vw;
      }
    }

    .product-description {
      align-self: flex-start;
      width: 100%;
      margin: 120px 10px;
      margin-bottom: 50px;

      h2 {
        margin-bottom: 10px;
        font-size: x-large;
      }

      p {
        line-height: 3;
      }

      &-table {
        margin-top: 20px;
        border: 2px solid black;

        td {
          padding: 5px;
          border: 1px solid gray;
        }
      }
    }

    .product-review {
      align-self: flex-start;
      margin: 50px 10px;
      margin-bottom: 150px;

      h2 {
        margin-bottom: 10px;
        font-size: x-large;
      }

      &-list {
        padding: 10px;

        li {
          margin: 5px 0px;
          padding: 5px 0px 5px 5px;
          border-bottom: 1px solid #efefef;
          font-size: 15px;
        }
      }
    }
  }

  .buy-bar-area {
    width: 34vw;
    height: 50vh;
  }

  .buy-bar-content {
    @include flex(column, center, center);
    position: fixed;
    top: 30vh;
    right: 10vw;
    width: 28vw;

    .product-name-brand {
      align-self: flex-start;
      margin: 20px 0px;

      #name {
        display: block;
        padding: 10px;
        font-size: x-large;
        font-weight: 700;
      }

      #brand-name {
        margin: 0px 10px;
      }
    }

    .product-price {
      align-self: flex-start;
      @include flex(row, flex-start, center);
      width: 100%;
      padding: 15px 0px;
      border-bottom: 1px solid #d4d2d2;

      .price {
        margin: 10px;
      }
      .discounted-price {
        padding-left: 10px;
        font-size: larger;
        font-weight: 700;
      }
      .fixed-price {
        opacity: 0.4;
      }
      .discount-rate {
        color: red;
      }
    }

    .product-info {
      align-self: flex-start;
      margin: 30px 20px;
      font-weight: 100;

      p {
        list-style: 150%;
      }
    }

    .product-select-quantity {
      align-self: center;
      width: 18vw;
      margin: 5px 0px;
      padding: 25px 0px;
      border-radius: 20px;
      background-color: #ebe8e8;
      @include flex(row, center, center);

      .handling-quantity-icons {
        margin: 0px 15px;
      }
    }

    .product-buy-button {
      @include flex(row, center, center);
      margin-top: 25px;

      .btn {
        width: 14vw;
        height: 5vh;
        border-radius: 10px;
        font-size: small;
        font-weight: 800;
      }

      .like-btn {
        margin-right: 15px;
        border: 1px solid #d4d2d2;
        background-color: white;
        color: black;
      }

      .buy-btn {
        border: none;
        background-color: #ff5c35;
        color: white;
      }
    }
  }
}
