* {
  text-decoration: none;
  color: inherit;
}

.signup-title {
  margin-bottom: 32px;
  font-size: 28px;
  font-weight: 400;
  color: #333;
  text-align: center;
}

.all-inputs {
  display: flex;
  align-items: center;
  flex-flow: column nowrap;

  input {
    width: 450px;
    height: 56px;
    border: 1px solid #d7d7d7;
    padding: 0 30px;
    margin: 15px 0;
    border-radius: 4px;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: #b7b7b7;
      font-size: 16px;
    }
  }
}

.all-terms-agree-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  input[id='inputCheck'] {
    display: inline-block;
    width: 14px;
    height: 14px;
    border: 2px solid #bcbcbc;
    cursor: pointer;
  }
}

.btnContainer {
  display: flex;
  justify-content: center;

  .signupBtn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50px;

    width: 450px;
    height: 48px;
    border: none;
    background-color: blue;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    margin: 0;
  }
}

.agree-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 32px;

  .checkbox-item {
    display: flex;
    justify-content: flex-start;
    margin-bottom: 16px;

    input[type='checkbox'] {
      margin-right: 19px;
      margin-bottom: 16px;
    }

    &:first-child {
      border-bottom: 1px solid #d7d7d7;
      margin-bottom: 32px;
    }

    .view-text {
      width: 100%;
      display: flex;
      justify-content: space-between;

      span {
        color: #b7b7b7;
        border-bottom: 1px solid #b7b7b7;
      }

      .selectText {
        color: #b7b7b7;
      }
    }
  }

  h3 {
    font-weight: 700;
    font-size: 24px;
  }
  p {
    font-weight: 400;
    font-size: 15px;
  }
}
